

h1
{
    text-align: center;
}

table
{
    border:1px solid rgb(243, 196, 78);
    width:100%;
    border-collapse: collapse;
}

td,th
{
    border:1px solid rgb(243, 196, 78);
    padding:10px;
    font-size: 20px;
}